.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.home img {
  align-self: center;
  margin-top: 50px;
  margin-left: 20%;
}

.home p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  /* or 18px */

  color: #222222;
}

.home h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  /* identical to box height, or 40px */

  color: #000000;
}
.text {
  margin-left: 5%;
}
.card {
  width: 376px;
  height: 400px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 21px;
  margin-bottom: 200px;
  flex-direction: column;

  /* background-image: url(./images/image\ 12.png); */
  border-radius: 9px;
  background-repeat: no-repeat;
}

.rating img {
  height: 15px;
}

.cards-main {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  overflow-x: auto;
}
.stats {
  display: flex;
  align-items: center;
}
.gray {
  color: #918e9b;
}
span {
  margin-left: 5px;
}

.card .photo {
  width: 320px;
  height: 370px;

  /* background-image: url(./images/image\ 12.png); */
  border-radius: 9px;
  background-repeat: no-repeat;
}
.card--badge {
  position: absolute;
  margin-top: 20px;
  margin-left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  z-index: 2px;
}
